{% extends "base.html" %}
{% block content %}

<h3>{{ 'Kedvenceim' if lang=='hu' else 'My Favorites' }}</h3>

<div class="row">
    {% for movie in movies %}
        <div class="col-md-3 mb-4">
            <div class="card">
                {% if movie.poster_path %}
                    <img src="{{ image_base }}{{ movie.poster_path }}" class="card-img-top">
                {% endif %}
                <div class="card-body">
                    <h5>{{ movie.title }}</h5>

                    <a href="{{ url_for('main.movie_details', movie_id=movie.id) }}"
                       class="btn btn-primary mb-2">
                       {{ 'Részletek' if lang=='hu' else 'Details' }}
                    </a>

                    <a href="{{ url_for('user.remove_favorite', movie_id=movie.id) }}" 
                       class="btn btn-danger">
                       {{ 'Törlés' if lang=='hu' else 'Remove' }}
                    </a>
                </div>
            </div>
        </div>
    {% endfor %}
</div>

{% endblock %}
