{% extends "base.html" %}

{% block content %}
<h3>{{ 'Bejelentkezés' if lang=='hu' else 'Login' }}</h3>

<form method="POST">
    <div class="mb-3">
        <label>{{ 'Felhasználónév vagy Email' if lang=='hu' else 'Username or Email' }}</label>
        <input type="text" class="form-control" name="username">
    </div>

    <div class="mb-3">
        <label>{{ 'Jelszó' if lang=='hu' else 'Password' }}</label>
        <input type="password" class="form-control" name="password">
    </div>

    <button class="btn btn-primary">{{ 'Belépés' if lang=='hu' else 'Login' }}</button>
</form>

<p class="mt-3">
    <a href="{{ url_for('auth.register') }}">
        {{ 'Nincs fiókod? Regisztrálj!' if lang=='hu' else 'No account? Sign up!' }}
    </a>
</p>

{% endblock %}
