{% extends "base.html" %}
{% block content %}

<h3>{{ 'Értékeléseim' if lang=='hu' else 'My Ratings' }}</h3>

<div class="row">
{% for item in movie_data %}
    <div class="col-md-3 mb-4">
        <div class="card">
            {% if item.movie.poster_path %}
                <img src="{{ image_base }}{{ item.movie.poster_path }}" class="card-img-top">
            {% endif %}
            <div class="card-body">
                <h5>{{ item.movie.title }}</h5>
                <p>{{ 'Értékelés:' if lang=='hu' else 'Rating:' }} {{ item.rating }}</p>

                <a href="{{ url_for('main.movie_details', movie_id=item.movie.id) }}"
                   class="btn btn-primary">
                    {{ 'Részletek' if lang=='hu' else 'Details' }}
                </a>

                <a href="{{ url_for('user.remove_rating', movie_id=item.movie.id) }}"
                   class="btn btn-danger mt-2">
                    {{ 'Törlés' if lang=='hu' else 'Delete' }}
                </a>
            </div>
        </div>
    </div>
{% endfor %}
</div>

{% endblock %}
