{% extends "base.html" %}
{% block content %}

<h3>{{ 'Keresés' if lang=='hu' else 'Search Movies' }}</h3>

<form action="{{ url_for('main.search_results') }}" method="GET" class="mb-3">

    <input type="text" name="query" placeholder="{{ 'Keresés...' if lang=='hu' else 'Search...' }}" 
           class="form-control mb-3">

    <select name="genre" class="form-control mb-3">
        <option value="0">{{ 'Összes műfaj' if lang=='hu' else 'All genres' }}</option>

        {% for g in genres %}
            <option value="{{ g.id }}">{{ g.name }}</option>
        {% endfor %}
    </select>

    <button class="btn btn-primary">{{ 'Keresés' if lang=='hu' else 'Search' }}</button>
</form>

{% endblock %}
